.product-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem;
  padding: 2rem;
  border: 2px solid black;
  position: relative;

}
.product-list {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.product-cart{
  height: 10%;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
} 

.product-cart button {
  background-color: aqua;
  height: 40px;
  width: 80px;
  font-weight: 800;
  cursor: pointer;
}
.product-cart h2 {
  height: 40px;
  font-weight: 800;
  cursor: pointer;
}


.product-card {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h2 {
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 5px;
}

.product-card button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.product-card button:hover {
  background-color: #555;
}

.cart {
  width: 300px;
  margin-left: 20px;
}

.cart h2 {
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cart-sidesheet {
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: 'fixed';
  top: 0;
  right: 0;
  bottom: 0; 
  width: '30%';
  background-color: #644848; 
  padding: '1em';
  box-shadow: '0 0 10px rgba(0, 0, 0, 0.5)' 
}